Source: debmake-doc
Section: doc
Priority: extra
Maintainer: Osamu Aoki <osamu@debian.org>
Build-Depends: asciidoc (>=8),
               autoconf,
               automake,
               autopoint,
               cmake,
               dblatex,
               debhelper (>=9),
               debmake (>=4.2.8),
               devscripts,
               dh-autoreconf,
               dh-python,
               docbook-xml,
               docbook-xsl,
               expect,
               fonts-liberation,
               gettext,
               gir1.2-gtk-3.0,
               itstool,
               libltdl-dev,
               libtool,
               libxml2-utils,
               lintian,
               lmodern,
               python3-all,
               python3-debian,
               python3-distutils-extra,
               python3-gi,
               quilt,
               texlive,
               texlive-lang-chinese,
               texlive-lang-english,
               texlive-lang-french,
               texlive-xetex,
               tree,
               vim,
               w3m,
               xsltproc,
               zip
Standards-Version: 3.9.8
Homepage: https://anonscm.debian.org/cgit/collab-maint/debmake-doc.git
Vcs-Git: https://anonscm.debian.org/git/collab-maint/debmake-doc.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/debmake-doc.git

Package: debmake-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Recommends: debmake
Suggests: debian-policy, developers-reference
Description: Guide for Debian Maintainers
 This tutorial document describes the building of the Debian
 package to ordinary Debian users and prospective developers using
 the debmake command.
 .
 It is focused on the modern packaging style and comes with many
 simple examples.
  * POSIX shell script packaging
  * Python3 script packaging
  * C with Makefile/Autotools/CMake
  * multiple binary package with shared library etc.
 .
 This package can be considered as the successor to the
 maint-guide package.
