#!/usr/bin/make -f
export DH_VERBOSE = 1

# quilt output is affected by locale; setting explicitly
LC_ALL := C.UTF-8
export LC_ALL

# translation for package (Override Makefile.dbk)
export LANGPO := zh-cn ja
#export NOPDF := zh-cn

# UTF-8 locale
export LC_ALL:= C.UTF-8

# single binary: debmake-doc
BASEDIR := $(CURDIR)/debian/debmake-doc/usr/share/doc/debmake-doc
export BASEDIR

%:
	dh $@

override_dh_compress:
	dh_compress -X.pdf
